<div>
  <ul class="list-type">
    {{#each items as |item|}}
      {{#test-component-item
        content=items
        item=item
        selection=selection
        select=(action 'select')
      }}
        <li>{{item.name}}</li>
      {{/test-component-item}}
    {{/each}}
  </ul>
</div>
